{:lib io.github.ruseel/snlib-cli
 :description "Clojure CLI and library for Seongnam Library (snlib.go.kr) tasks."
 :url "https://github.com/ruseel/snlib-cli"
 :scm {:connection "scm:git:git://github.com/ruseel/snlib-cli.git"
       :developerConnection "scm:git:ssh://git@github.com/ruseel/snlib-cli.git"
       :url "https://github.com/ruseel/snlib-cli"}
 :licenses [{:name "MIT License"
             :url "https://opensource.org/licenses/MIT"
             :distribution "repo"}]
 :developers [{:id "ruseel"
               :name "ruseel"}]
 :server-id "central"}
