{"MP" "판교도서관",
 "CK" "중원어린이도서관",
 "GF" "숲에사는달조각 작은도서관",
 "TF" "태평4동 작은도서관",
 "BK" "태평3동작은도서관",
 "BI" "시청하늘북까페",
 "MU" "운중도서관",
 "BN" "수내1동작은도서관",
 "BJ" "정자역작은도서관",
 "SJ" "수정중앙 작은도서관",
 "BO" "야탑1동작은도서관",
 "MB" "분당도서관",
 "BP" "도촌동작은도서관",
 "BG" "한솔작은도서관",
 "PK" "판교어린이도서관",
 "BM" "상대원3동작은도서관",
 "MR" "위례도서관",
 "MM" "무지개도서관",
 "YL" "LH다독작은도서관",
 "MO" "수내도서관",
 "BR" "시흥동작은도서관",
 "BC" "정자청소년작은도서관",
 "BA" "중원청소년작은도서관",
 "MA" "중앙도서관",
 "BZ" "판교인생작은도서관",
 "BL" "금광2동작은도서관",
 "MS" "수정도서관",
 "BB" "서현청소년작은도서관",
 "MG" "구미도서관",
 "BV" "구미1동작은도서관",
 "MD" "고등도서관",
 "MV" "서현도서관",
 "BT" "수진2동작은도서관",
 "BW" "은행2동작은도서관",
 "MH" "해오름도서관",
 "HA" "한마음점자도서관",
 "BF" "논골도서관",
 "MW" "복정도서관",
 "BX" "중앙동작은도서관",
 "MJ" "중원도서관",
 "BD" "태평1동작은도서관",
 "MT" "책테마파크도서관"}
